<div class="sign-up">
  <h2>Sign Up</h2>
  <%= form_for :user, url: {controller: :users, action: :create}  do |f| %>
    Email: <%= f.text_field :email %> <br>
    Password: <%= f.password_field :password %> <br>
    <%= f.submit "Sign Up!" %>
  <% end %>
</div>
<div id="content">
</div>

<script type="text/javascript">
  console.log("CurrentUser defined here");
  CurrentUser = {};
  <% if current_user %>
    CurrentUser.email = "<%= current_user.email %>";
    CurrentUser.id = "<%= current_user.id %>";
    CurrentUser.name = "<%= current_user.name %>";
  <% end %>
</script>
