<div class="sign-in col-sm-6 col-md-4 col-lg-2 col-lg-offset-1">
  <div class="row">
    <h1>Welcome to SideTable</h1>
    <h4>The board game site for social gamers</h4>
  </div>
  <div class="row">
    <h2>Sign Up</h2>
    <%= form_for :user, url: {controller: :users, action: :create},
      html: { class: "form-horizontal" } do |f| %>
      <label class="sr-only" for="email-field">Email</label>
      <%= f.text_field :email, class: "form-control", 
        placeholder: "Email", id: "email-field" %>
      <label class="control-label sr-only" for="password-field">Password</label>
      <%= f.password_field :password, class: "form-control col-sm-10",
        placeholder: "Password", id: "password-field" %>
      <%= f.submit "Sign Up", class: "btn btn-primary col-xs-12" %>
   <% end %>
   <%= button_to "Guest Login", users_path, method: :post, 
     class: "btn btn-info col-xs-12" %>
   <%= link_to "Login", new_session_path,
     class: "btn btn-default col-xs-12" %>
  </div>
</div>
<div class="col-sm-6 col-md-8 col-lg-8" id="content">
</div>
<script type="text/javascript">
  CurrentUser = {};
  <% if current_user %>
    CurrentUser.email = "<%= current_user.email %>";
    CurrentUser.id = "<%= current_user.id %>";
    CurrentUser.name = "<%= current_user.name %>";
  <% end %>
</script>
