<% var url="#games/"+game.id+"" %>
<div class="col-md-2 col-sm-3 col-xs-6 thumb">
  <a href="<%= url %>" class="thumbnail">
    <img class="img-responsive" src="<%= game.escape('image_url') %>" ></img>
  </a>
</div>
<div class="game-item-short-description col-md-10 col-sm-9 col-xs-6">
  <div class="row">
    <a href="<%= url %>">
      <h4> <%= game.escape('title') %> </h4>
    </a>
  </div>
  <p><% var desc = game.escape('description') %> 
      <%= desc.slice(0,250) %><%
      if (desc.length > 250) { %>...<% } %></p>
</div>

