<% var size= 100 %>
<img class="game-item-short-icon" src="<%= game.escape('image_url') %>" 
     width="<%= size %>" height="<%= size %>"></img>
<div class="game-item-short-description">
  <h4> <%= game.escape('title') %> </h4>
  <p> <%= game.escape('description') %> </p>
</div>

