<%  %>
<h2><%= game.get('title') %></h2>
<% var large_size = "250px" %>
<div class="row container">
  <div class="col-md-3 col-xs-6 col-sm-5">
    <div class="game-image row img-thumbnail">
      <img src="<%= game.escape('image_url') %>" class="img-responsive"
           height="<%= large_size %>" width="<%= large_size %>">
      </img>
    </div>
    <div class="ratings-box row">
      <div class="col-xs-12">
        <div class="community-rating-container row">
          <h4>Community Rating:</h4>
          <div class="community-rating">  </div>
        </div>
        <% if(CurrentUser.id) { %>
          <div class="personal-rating-container row">
            <h4>Your Rating:</h4>
            <div class="personal-rating" >  </div>
          </div>
        <% } %>
      </div>
    </div>
    <br>
    <div class="shelf-box row">
      <% if(CurrentUser.id) { %>
        <div class="shelf-form-container"></div>
        <a href="javascript:void(0)" class="shelve-button">Add to Shelf</a>
      <% } %>
    </div>
 </div>
  <div class="col-md-9 col-sm-7 col-xs-6">
    <div class="game-description">
      <% if(game.escape('description')) { %>
        <%= game.escape('description') %>
      <% } %>
    </div>
    <% if(CurrentUser.id && canReview) { %>
      <a href="javascript:void(0)" class="add-review">Review This Game</a>
    <% } %>
    <div class="reviews-box container-fluid"> 
    </div>
  </div>
</div>
<div class="row container">
  <a href="javascript:void(0)" class="back-button">Go Back</a>
</div>
