<%  %>
<h2><%= game.get('title') %></h2>
<% var large_size = "250px" %>
<div class="game-image">
  <img src="<%= game.escape('image_url') %>" 
       height="<%= large_size %>" width="<%= large_size %>">
  </img>
</div>
<div class="game-description">
  <% if(game.escape('description')) { %>
    <h3> Description: </h3>
    <%= game.escape('description') %>
  <% } %>
</div>

<div class="shelf-box">
  <div class="shelf-form-container"></div>
  <a href="javascript:void(0)" class="shelve-button">Add to Shelf</a>
</div>

<% if(canReview) { %>
  <a href="javascript:void(0)" class="add-review">Review This Game</a>
<% } %>
<div class="reviews-box"> </div>

<a href="javascript:void(0)" class="back-button">Go Back</a>
